body {
    background-color: darkgoldenrod;
}


.tarto {
    padding-top: 3%;
    display: flex;  /*egmyas mellett elferjenek*/
    gap: 5%; 
    margin-top: 20px;
}


.img {
    padding-left: 23%;
    width: 38%;
    max-width: 300px;
    max-height: 300px;
}

.gombok {
    width: 20%;
    padding-left: 6%;
}

.doboz {
    margin: 0 auto; /* a doboz kozepen legyen*/
    display: flex; /* a szoveg kozepen legyen*/ 
    align-items: center; /* a szoveg kozepen legyen*/
    justify-content: center; /* a szoveg kozepen legyen*/
    background-color: gray;
    color: black;
    font-size: large;
    font-weight: bold;
    width: 110px;
    height: 50px;
    cursor: pointer;
}

.doboz:hover {
    background-color: yellow;
}

.kep {
    max-width: 300px;
    max-height: 300px;
}

.sor {
    display: flex; /*egymas mellett jol elferjenek*/
    gap: 10px;
    margin-bottom: 10px;
}

.cim {
    width: 40%;
    
    background-color: red;
    height: 50px;
    margin: 0 auto; /* a doboz kozepen legyen*/
    display: flex; /* a szoveg kozepen legyen*/ 
    align-items: center; /* a szoveg kozepen legyen*/
    justify-content: center; /* a szoveg kozepen legyen*/
}
